

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#flower-pots-table {
    width: 100%;
}

.modal.fade .modal-dialog {
   z-index: 1041 !important;
}

/* Add/Edit Modal */
div#add-edit div.modal-footer button.update {
   margin-left: 0;
}
















